<body>
  <div class="form-group">
    <h1>To-Do <small>List</small></h1>
  <form role="form">
      <input type="text" class="form-control" placeholder="Your Task" [(ngModel)]="taskNm" name="task">
  </form>
  <button type="button" class="btn btn btn-primary" (click)="addTask()">Add</button>
      </div>
      <div></div>
  <h5 class="text-center text-danger" *ngIf="taskRemovedFlag">Task removed successfully</h5>
  <h5 class="text-center text-success" *ngIf="taskAddFlag">Task added successfully</h5>
  <h5 class="text-center text-success" *ngIf="tasks.length>0 || completedTasks.length>0">
    <blockquote>Select <input type="checkbox" [checked]="pendingCompletedTasks" (change)="pendingCompletedTasks = !pendingCompletedTasks" /> to move <code [ngClass]="{'open': pendingCompletedTasks==false,'completed': pendingCompletedTasks==true}">Task</code> from Pending to Completed task list and vice versa.</blockquote>
  </h5>
  <!-- Open Tasks -->
  <ul class="list-unstyled todo" *ngIf="tasks.length>0">
    <h3 class="text-info text-center text-underline"><em>Pending tasks</em></h3>
    <li *ngFor="let task of tasks; let i=index" [ngClass]="{'open': task.completed==false,'completed': task.completed==true}">
      <input type="checkbox" [checked]="task.completed" (change)="changeTaskStatus(task, i)" /> 
      {{task.title}} <a href="javascript:void(0)" class="close" (click)="closeTask(i)" aria-hidden="true">×</a>
    </li>
  </ul>
  <!-- Closed Tasks -->
  <ul class="list-unstyled todo" *ngIf="completedTasks.length>0">
    <h3 class="text-info text-center text-underline"><em>Completed tasks</em></h3>
    <li *ngFor="let task of completedTasks; let i=index" [ngClass]="{'open': task.completed==false,'completed': task.completed==true}">
      <input type="checkbox" [checked]="task.completed" (change)="changeTaskStatus(task, i)" /> 
      {{task.title}} <a href="javascript:void(0)" class="close" (click)="closeTask(i)" aria-hidden="true">×</a>
    </li>
  </ul>
</body>